    <h1><%= siteName %>, reporting for duty!</h1>
    <% if (flash?.info) { %>
    <div id="info" class="info">
        <span><%= flash.info %></span>
    </div>
    <% } %>
    <% if (flash?.message) { %>
    <div id="messages" class="messages">
        <span><%= flash.message %></span>
    </div>
    <% } %>
    <% if (flash?.error) { %>
    <div id="errors" class="errors">
        <span><%= flash.error %></span>
    </div>
    <% } %>
    <% if (isAuthenticated) { %>
    <form id="uploaderId" name="uploader" action="<%= origin %>/upload" method="POST" enctype="multiplart/form-data">
        <fieldset id="filesId" name="files" form="uploaderId" class="" title="Upload image to inspect">
            <legend></legend>
            <div id="dragzone">
                <h2>Drop a photo here to inspect it's metadata.</h2>
                <br>
                <input id="image_0Id" name="image_0" type="file" accept=".png,.jpg,.jpeg">
            </div>
        </fieldset>
    </form>
    <div id="infozone">
    </div>
    <div id="metazone">
    </div>
    <script nonce="<%= nonce %>">
        const dragzone = document.querySelector('div#dragzone')
        const infozone = document.querySelector('div#infozone')
        const metazone = document.querySelector('div#metazone')
        dragzone.addEventListener('dragenter', (e) => {
            // e.preventDefault()
            e.stopPropagation()
            e.target.classList.add('dragTarget')
            console.log('entering the drag zone')
        })
        dragzone.addEventListener('dragleave', (e) => {
            // e.preventDefault()
            e.stopPropagation()
            e.target.classList.remove('dragTarget')
            console.log('leaving drag zone.')
        })
        dragzone.addEventListener('drop', (e) => {
            const files = e.dataTransfer.files
            console.log(files)
        })
    </script>
    <% } %>
