    <h1><%= siteName %>, reporting for duty!</h1>
    <% if (flash?.info) { %>
    <div id="info" class="info">
        <span><%= flash.info %></span>
    </div>
    <% } %>
    <% if (flash?.message) { %>
    <div id="messages" class="messages">
        <span><%= flash.message %></span>
    </div>
    <% } %>
    <% if (flash?.error) { %>
    <div id="errors" class="errors">
        <span><%= flash.error %></span>
    </div>
    <% } %>
    <% if (isAuthenticated) { %>
    <div id="dragzone">
        <h2>Drop a photo here to inspect the it's metadata.</h2>
    </div>
    <div id="infozone">
    </div>
    <div id="metazone">
    </div>
    <script type="javascript" nonce="<%= nonce %>">
        const dragzone = document.querySelcetor('div#dragzone')
        const infozone = document.querySelcetor('div#infozone')
        const metazone = document.querySelector('div#metazone')
    </script>
    <% } %>
