    <section id="headerSection">
        <h1><%= siteName %></h1>
        <h2>View and edit your image metadata.</h2>
        <p>Built using the excellent <a href="https://exiftool.org" target="_blank">Exiftool</a> by Phil Harvey,
        this app lets you inspect the metadata tags embedded in your image files, edit existing tags, 
        or remove the metadata entirely.</p>
        <% if (flash?.info) { %>
        <div id="info" class="info">
            <span><%= flash.info %></span>
        </div>
        <% } %>
        <% if (flash?.message) { %>
        <div id="messages" class="messages">
            <span><%= flash.message %></span>
        </div>
        <% } %>
        <% if (flash?.error) { %>
        <div id="errors" class="errors">
            <span><%= flash.error %></span>
        </div>
        <% } %>
        <% if (isAuthenticated) { %>

        <% } %>
    </section>
    <section id="formSection">
        <form id="uploaderId" name="uploader" action="<%= origin %>upload" method="POST" enctype="multiplart/form-data">
            <fieldset id="hiddenFields_Id" name="hiddenFields" form="uploaderId" class="hiddenFieldset" title="">
                <input id="inspectedFilename_Id" name="inspectedFilename" type="hidden" value="">
                <input id="csrf-token_Id" name="csrf-token" type="hidden" value="<%= csrfToken  %>">
            </fieldset>
            <fieldset id="tagSelect_Id" name="tagSelect" form="uploaderId" class="tagSelect" title="Metadata to display">
                <legend>View Image Metadata Tags</legend>
                <label for="full_Id">Full metadata</label>
                <input id="full_Id" name="tagSet" type="radio" value="Full" tabeindex="0" checked> 
                <label for="common_Id">Common metadata</label>
                <input id="common_Id" name="tagSet" type="radio" value="Common" tabeindex="0">
                <label for="location_Id">Location metadata</label>
                <input id="location_Id" name="tagSet" type="radio" value="Location" tabeindex="0">
                <label for="car_Id">Content &amp; Rights</label>
                <input id="car_Id" name="tagSet" type="radio" value="CAR" tabeindex="0">
            </fieldset>
            <fieldset id="tagEditSelect_Id" name="tagEditSelect" form="uploaderId" class="tagSelect" title="Metadata to edit">
                <legend>Clear Image Metadata Tags</legend>
                <label for="stripAllTags_Id">Clear all tags</label>
                <input id="stripAllTags_Id" name="tagSet" type="radio" value="StripAllTags" tabindex="0">
                <label for="stripLocationTags_Id">Clear location tags</label>
                <input id="stripLocationTags_Id" name="tagSet" type="radio" value="StripLocation" tabindex="0">
            </fieldset>
            <fieldset id="filesId" name="files" form="uploaderId" class="" title="Upload image to inspect" tabeindex="0">
                <legend>Upload an image to inspect its metadata.</legend>
                <div id="dragzone">
                    <h2>Drop a photo here to inspect its metadata.</h2>
                    <br>
                    <input id="image_0Id" name="image_0" type="file" accept=".png,.jpg,.jpeg,.heic,.webp">
                </div>
            </fieldset>
            <span class="or">or</span>
            <fieldset id="urlInspectId" name="urlInspect" form="uploaderId" class="urlFieldset" title="Paset URL to image to inspect">
                <label for="url_Id">URL of an image to inspect: </label>
                <input id="url_Id" name="url" type="text" value="" tabeindex="0">
                <input id="submit_Id" name="submit" type="submit" value="Inspect Image" tabindex="0">
            </fieldset>
        </form>
    </section>
    <section id="metadataSection">
        <div id="infozone" class="hidden">
            <h3 class='mono'>File Information</h3>
        </div>
        <div id="mapzone" class="hidden">
        </div>
        <div id="contentzone" class="hidden">
            <h3 class='mono'>Content, Attributions, and Rights</h3>
        </div>
        <div id="metazone" class="hidden">
            <h3 class='mono'>Camera, Exposure, and Software Information</h3>
        </div>
    </section>
    <script
          src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
          crossorigin async
          data-callback="initMapKit"
          data-libraries="full-map,services"
          data-initial-token=""
        ></script>
    <script nonce="<%= nonce %>" type="module">
        let origin = '<%= origin %>'
        let access = '<%= accessToken %>'
        
    </script>
    <script src="<%=origin %>j/m.js" nonce="<%= nonce %>" type="module">
    </script>
