<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="<%= pageDescription %>">
    <% if (openGraph) { %>
        <%- openGraph %>
    <% } %>
    <% if (structuredData) { %>
    <script type="application/ld+json" nonce="<%= nonce %>">
        <%- structuredData %>
    </script>
    <% } %>
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="<%= domain %>/favicon.ico"> 
    <link rel="shortcut icon" type="image/x-icon" href="<%= domain %>/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= domain %>/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= domain %>/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= domain %>/favicon-16x16.png">
    <link rel="stylesheet" href="<%= domain %>/c/main.css">
  </head>
  <body>
    <div class="grid" id="grid-layout">
      <div class="grid-content" id="main-content">
        <%# main %>
        <%- body %>
        <%# main end %>
      </div>

      <div class="grid-footer">
        <%# footer %>
        <%- await include('./partials/body-footer-lite.ejs') -%>
        <%# footer end %>
      </div>
    </div>
  </body>
</html>
