<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="<%= pageDescription %>">
    <% if (structuredData !== null) { %>
    <script type="application/ld+json">
      <%- structuredData %>
    </script>
    <% } %>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://exif-inspector.com/">
    <meta property="og:title" content="Image metadata inspector">
    <meta property="og:image" content="https://exif-inspector.com/i/ei-ogEmbed-450x295.png">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="450">
    <meta property="og:image:height" content="295">
    <meta property="og:image:alt" content="Image metadata inspector.">
    <meta property="og:description" content="Inspect and edit the metadata embedded in your images.">
    
    <title>EXIF Inspector: Home</title>
    <link rel="icon" type="image/x-icon" href="<%= origin %>/favicon.ico"> 
    <link rel="apple-touch-icon" sizes="180x180" href="<%= origin %>apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= origin %>favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= origin %>favicon-16x16.png">
    <link rel="stylesheet" href="/c/main.css">
  </head>
  <body>
    <div class="grid" id="grid-layout">
      <div class="grid-content" id="main-content">
        <%# main %>
        <%- body %>
        <%# main end %>
      </div>

      <div class="grid-footer">
        <%# footer %>
        <%- await include('./partials/body-footer-lite.ejs') -%>
        <%# footer end %>
      </div>
    </div>
  </body>
</html>
